* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 850px) {
  header#sa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
    box-sizing: border-box;
  }
  nav {
    margin: auto;
    flex-basis: 100%;
    visibility: hidden;
  }
  nav .spisok li {
    display: none;
  }
  nav .spisok li a {
    display: none;
  }
  label#for_burger {
    visibility: visible;
    color: white;
    font-size: min(15vw, 9vh);
    cursor: pointer;
  }
  #burger:checked ~ nav .spisok {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding-left: 0;
  }
  #burger:checked ~ nav .spisok li {
    display: flex;
    justify-content: center;
  }
  #burger:checked ~ nav .spisok li a {
    background: black;
    border: solid white 0.5vh;
    border-radius: 10px;
    padding: 1vh;
    margin: 1vh;
    width: 100%;
    visibility: visible;
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-family: Rubik;
  }
  #burger:checked ~ nav .spisok li a:hover {
    filter: opacity(0.5);
    transform: scale(1.2);
    transition: all 0.4s;
  }
  #burger:checked ~ nav .spisok li a .active {
    transform: scale(1.2);
  }
  #burger:checked ~ nav .spisok li a {
    transition: all 0.4s;
  }
}
header {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}
header .logo {
  width: 15%;
  display: flex;
  justify-content: start;
  align-items: center;
}
header .logo img {
  height: min(15vw, 9vh);
  margin: 5px;
}
header input {
  display: none;
}
header label {
  visibility: hidden;
}
header nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .spisok {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header nav .spisok li {
  display: inline;
}
header nav .spisok li a {
  text-decoration: none;
  color: white;
  font-size: 3vh;
  font-family: Rubik;
}
header nav .spisok li:hover {
  filter: opacity(0.5);
  transform: scale(1.2);
  transition: all 0.4s;
}
header nav .spisok li {
  transition: all 0.4s;
}

section {
  background: url("../data/img/background.png") fixed;
}

.car {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.car .info {
  margin: 1vw;
  padding: 5vw;
  width: 85%;
  border: solid black 1vh;
  border-radius: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.car .info img {
  border: solid black 0.4vh;
  border-radius: 10px;
  width: min(85vw, 100vh);
}
.car .info .model {
  text-align: center;
  text-indent: 2vw;
  color: black;
  font-family: Rubik;
  font-weight: bold;
  font-size: 5vh;
}
.car .info .price {
  text-align: center;
  text-indent: 2vw;
  color: black;
  font-family: Rubik;
  font-size: 5vh;
}
.car .info .add {
  text-indent: 2vw;
  color: black;
  font-family: Rubik;
  font-size: 3vh;
}
.car .form {
  width: min(90vw, 120vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 1vh;
  border-radius: 40px;
  background: white;
  margin: 1vw;
  padding: 2vw;
}
.car .form p {
  width: min(90vw, 110vh);
  display: flex;
  flex-direction: column;
  color: black;
  font-family: Rubik;
  font-weight: bold;
  font-size: 4vh;
  margin: 1vw;
}
.car .form p input, .car .form p select, .car .form p option {
  height: 5vh;
  border: solid black 0.4vh;
  border-radius: 10px;
  padding: 5px;
  font-size: 4vh;
  font-family: Rubik;
}
.car .form p select {
  height: 7vh;
}
.car .form p input[type=button] {
  height: 7vh;
  background-color: #FFA800;
}
.car .form p input[type=button]:hover {
  background-color: #b87a00;
  transition: all 0.4s;
}
.car .form .title {
  font-size: 5vh;
  text-align: center;
}

footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
footer .links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
footer .links a img {
  display: flex;
  justify-content: left;
  height: min(12vw, 8vh);
}
footer .links a:hover {
  filter: opacity(0.5);
  transition: all 0.4s;
}
footer .links a {
  transition: all 0.4s;
}
footer .links .mail {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: white;
  font-size: min(7vw, 3.5vh);
  font-weight: bold;
  font-family: Rubik;
}/*# sourceMappingURL=item_style.css.map */