*{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
@media (max-width: 850px) {
    header#sa{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        box-sizing: border-box;
    }
    nav{
        margin: auto;
        flex-basis: 100%;
        visibility: hidden;
        .spisok{
            li{
                display: none;
                a {
                    display: none;
                }
            }
        }
    }
    label#for_burger{
        visibility: visible;
        color: white;
        font-size: min(15vw,9vh);
        cursor: pointer;
    }
    #burger:checked ~ nav .spisok {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        padding-left: 0;
        li {
            display: flex;
            justify-content: center;
            a{
                background: black;
                border: solid white 0.5vh;
                border-radius: 10px;
                padding: 1vh;
                margin: 1vh;
                width: 100%;
                visibility: visible;
                display: inline;
                text-decoration: none;
                color: white;
                font-size: 3vh;

            &:hover {
                filter: opacity(0.5);
                
                transition: all 0.4s;
            }
            &{
                transition: all 0.4s;
            }
        }
    }
}
}
header{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    .logo{
        width: 15%;
        display: flex;
        justify-content: start;
        align-items: center;
        img{
            height: min(15vw,9vh);
            margin: 5px;
        }
    }
    input{
        display: none;
    }
    label{
       visibility: hidden;
    }
    nav{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        .spisok{
            width: 100%;
            display: flex;
            justify-content: space-around;
            li{
                display: inline;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 3vh;
    
                }
                
                &:hover {
                    filter: opacity(0.5);
                    
                    transition: all 0.4s;
                }
                &{
                    transition: all 0.4s;
                }
            } 
        }
    }
}
.car{
    background: url("../data/img/background.png") fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    .info{
        margin: 1vw;
        padding: 5vw;
        width: 85%;
        border: solid black 1vh;
        border-radius: 40px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img{
            border: solid black 0.4vh;
            border-radius: 10px;
            width: min(85vw, 100vh);
        }
        .model{
            text-align: center;
            text-indent: 2vw;
            color: black;
            font-weight: bold;
            font-size: 5vh;
        }
        .price{
            text-align: center;
            text-indent: 2vw;
            color: black;
            font-size: 5vh;
        }
        .add{
            text-indent: 2vw;
            color: black;
            font-size: 3vh;
        }
    }
    .form{
        width: min(90vw,120vh);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid black 1vh;
        border-radius: 40px;
        background: white;
        margin: 1vw;
        padding: 2vw;
        p{
            width: min(90vw,110vh);
            display: flex;
            flex-direction: column;
            color: black;
            font-weight: bold;
            font-size: 4vh;
            margin: 1vw;
            input, select, option{
                height: 5vh;
                border: solid black 0.4vh;
                border-radius: 10px;
                padding: 5px;
                font-size: 4vh;

            }
            select{
                height: 7vh;
            }
            input[type=button]{
                height: 7vh;
                background-color: #FFA800;
            }
            input[type=button]:hover{
                background-color: #b87a00;
                transition: all 0.4s;
            }
            
        }
        .title{
            font-size: 5vh;
            text-align: center;
        }
        
    }
}

footer{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .links{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        a{
            img{
                display: flex;
                justify-content: left;
                height: min(12vw,8vh);
            }
            &:hover {
                filter: opacity(0.5);
                transition: all 0.4s;
            }
            &{
                transition: all 0.4s;
            }
        }
        .mail{
            display: flex;
            justify-content: flex-start;
            text-decoration: none;
            color: white;
            font-size: min(7vw,3.5vh);
            font-weight: bold;
        }
        
    }
}