*{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
@media (max-width: 850px) {
    header#sa{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        box-sizing: border-box;
    }
    nav{
        margin: auto;
        flex-basis: 100%;
        visibility: hidden;
        .spisok{
            li{
                display: none;
                a {
                    display: none;
                }
            }
        }
    }
    label#for_burger{
        visibility: visible;
        color: white;
        font-size: min(15vw,9vh);
        cursor: pointer;
    }
    #burger:checked ~ nav .spisok {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        padding-left: 0;
        li {
            display: flex;
            justify-content: center;
            a{
                visibility: visible;
                display: inline;
                text-decoration: none;
                color: white;
                font-size: 3vh;
                font-family: Rubik;
            &:hover {
                filter: opacity(0.5);
                transform: scale(1.2);
                transition: all 0.4s;
            }
            .active{
                transform: scale(1.2);
            }
            &{
                transition: all 0.4s;
            }
        }
    }
}
}
header{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    .logo{
        width: 15%;
        display: flex;
        justify-content: start;
        align-items: center;
        img{
            height: min(15vw,9vh);
        }
    }
    input{
        display: none;
    }
    label{
       visibility: hidden;
    }
    nav{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        .spisok{
            width: 100%;
            display: flex;
            justify-content: space-around;
            .active{
                transform: scale(1.4);
            }
            li{
                display: inline;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 3vh;
                    font-family: Rubik;
                }
                
                &:hover {
                    filter: opacity(0.5);
                    transform: scale(1.2);
                    transition: all 0.4s;
                }
                .active{
                    transform: scale(1.2);
                }
                &{
                    transition: all 0.4s;
                }
            } 
        }
    }
}
.feedback{
    width: 100%;
    background: url("../../feedback/data/img/background.png") fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .text{
        width: 100%;
        margin-top: 2vh;
        margin-left: 2vh;
        display: flex;
        justify-content: start;
        p{
            color: black;
            font-family: 'Rubik', sans-serif;
            font-weight: bold;
            font-size: min(12vw,7vh);
        }
    }
    .items{
        margin: 1vw;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .left{
            width: 20%;
            height: 50vh;
        }
        .right{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .item{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 2vw;
                margin: 1vw;
                border: solid black 0.5vh;
                border-radius: 20px;
                background: white;
                textarea{
                    resize: none;
                    font-family: 'Rubik', sans-serif;
                    border-radius: 10px ;
                    padding: 1vh;
                }
                .user{
                    height: 4vh;
                    font-size: 3vh;
                    font-weight: bold;
                    width: 60% ;
                }
                .feedback_text{
                    height: 15vh;
                    font-size: 2.5vh;
                    width: 90%;
                }
                .button_place{
                    width:100%;
                    display: flex;
                    justify-content: end;
                    input{
                        margin-top: 2vh;
                        height: 5vh;
                        font-size: 3vh;
                        border: solid black 0.3vh;
                        border-radius: 10px;
                        background-color: #FFA800;
                        transition: all 0.4s;
                    }
                    input:hover{
                        background-color: #b87a00;
                        transition: all 0.4s;
                    }
                }
                .profile{
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    img{
                        width: 5vh;
                    }
                    .name{
                    font-size: 3vh;
                    font-weight: bold;
                    font-family: 'Rubik', sans-serif;
                    };
                    
                }
                hr{
                    height: 0.1vh;
                    background: black;
                    margin: 1vw;
                }
                .text{
                    margin: 1vw;
                    font-size: 2.5vh;
                    font-family: 'Rubik', sans-serif;
                }
            }
            .buttom{
                width: 100%;
                display: flex;
                justify-content: center;
                a{
                    width: 25vw;
                    height: 10vh;
                    border: 0.5vh solid black;
                    border-radius: 10px;
                    background: white;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: black;
                    font-size: 3vh;
                    font-weight: bold;
                    font-family: 'Rubik', sans-serif;
                }
                a:hover{
                    color: grey;
                    background: rgba(107, 107, 107, 0.2);
                    transition: all 0.4s;
                }
            }
        }
    }
    
    
}
footer{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .links{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        a{
            img{
                display: flex;
                justify-content: left;
                height: min(12vw,8vh);
            }
            &:hover {
                filter: opacity(0.5);
                transition: all 0.4s;
            }
            &{
                transition: all 0.4s;
            }
        }
        .mail{
            display: flex;
            justify-content: flex-start;
            text-decoration: none;
            color: white;
            font-size: min(7vw,3.5vh);
            font-weight: bold;
            font-family: Rubik;
        }
        
    }
}