* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 850px) {
  header#sa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
    box-sizing: border-box;
  }
  nav {
    margin: auto;
    flex-basis: 100%;
    visibility: hidden;
  }
  nav .spisok li {
    display: none;
  }
  nav .spisok li a {
    display: none;
  }
  label#for_burger {
    visibility: visible;
    color: white;
    font-size: min(15vw, 9vh);
    cursor: pointer;
  }
  #burger:checked ~ nav .spisok {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    padding-left: 0;
  }
  #burger:checked ~ nav .spisok li {
    display: flex;
    justify-content: center;
  }
  #burger:checked ~ nav .spisok li a {
    background: black;
    border: solid white 0.5vh;
    border-radius: 10px;
    padding: 1vh;
    margin: 1vh;
    width: 100%;
    visibility: visible;
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-family: Rubik;
  }
  #burger:checked ~ nav .spisok li a:hover {
    filter: opacity(0.5);
    transform: scale(1.2);
    transition: all 0.4s;
  }
  #burger:checked ~ nav .spisok li a .active {
    transform: scale(1.2);
  }
  #burger:checked ~ nav .spisok li a {
    transition: all 0.4s;
  }
}
header {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}
header .logo {
  width: 15%;
  display: flex;
  justify-content: start;
  align-items: center;
}
header .logo img {
  height: min(15vw, 9vh);
  margin: 5px;
}
header input {
  display: none;
}
header label {
  visibility: hidden;
}
header nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .spisok {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header nav .spisok li {
  display: inline;
}
header nav .spisok li a {
  text-decoration: none;
  color: white;
  font-size: 3vh;
  font-family: Rubik;
}
header nav .spisok li:hover {
  filter: opacity(0.5);
  transform: scale(1.2);
  transition: all 0.4s;
}
header nav .spisok li {
  transition: all 0.4s;
}

.catalog {
  width: 100%;
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalog .text {
  width: 100%;
  margin-left: 2vh;
  display: flex;
  justify-content: start;
}
.catalog .text p {
  color: white;
  font-family: Rubik;
  font-weight: bold;
  font-size: min(12vw, 7vh);
}
.catalog .items {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalog .items .item {
  width: min(90vw, 40vh);
  height: 50vh;
  background: white;
  border-radius: 10px;
  margin: 1vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.catalog .items .item img {
  width: 100%;
}
.catalog .items .item .model {
  font-size: 4vh;
  font-weight: bolder;
}
.catalog .items .item .price {
  font-size: 3vh;
}
.catalog .items .item button {
  align-self: center;
  margin-top: 5vh;
  height: 5vh;
  width: 95%;
  border: none;
  background-color: #FFA800;
  font-size: 3vh;
  transition: all 0.4s;
  border: solid black 0.5vh;
  border-radius: 10px;
}
.catalog .items .item button:hover {
  background-color: #b87a00;
  transition: all 0.4s;
}
.catalog .items .item:hover {
  transform: scale(1.1);
  transition: transform 0.4s;
}
.catalog .items .item {
  transition: transform 0.4s;
}

footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
footer .links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
footer .links a img {
  display: flex;
  justify-content: left;
  height: min(12vw, 8vh);
}
footer .links a:hover {
  filter: opacity(0.5);
  transition: all 0.4s;
}
footer .links a {
  transition: all 0.4s;
}
footer .links .mail {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: white;
  font-size: min(7vw, 3.5vh);
  font-weight: bold;
  font-family: Rubik;
}/*# sourceMappingURL=catalog_style.css.map */