*{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
html{
    scroll-behavior: smooth;
}
@media (max-width: 850px) {
    header#sa{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        box-sizing: border-box;
    }
    nav{
        margin: auto;
        flex-basis: 100%;
        visibility: hidden;
        .spisok{
            li{
                display: none;
                a {
                    display: none;
                }
            }
        }
    }
    label#for_burger{
        visibility: visible;
        color: white;
        font-size: min(15vw,9vh);
        cursor: pointer;
    }
    #burger:checked ~ nav .spisok {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        padding-left: 0;
        li {
            display: flex;
            justify-content: center;
            a{
                background: black;
                border: solid white 0.5vh;
                border-radius: 10px;
                padding: 1vh;
                margin: 1vh;
                width: 100%;
                visibility: visible;
                display: inline;
                text-decoration: none;
                color: white;
                font-size: 3vh;
                font-family: Rubik;
            &:hover {
                filter: opacity(0.5);
                transform: scale(1.2);
                transition: all 0.4s;
            }
            .active{
                transform: scale(1.2);
            }
            &{
                transition: all 0.4s;
            }
        }
    }
}
}
header{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    .logo{
        width: 15%;
        display: flex;
        justify-content: start;
        align-items: center;
        img{
            height: min(15vw,9vh);
            margin: 5px;
        }
    }
    input{
        display: none;
    }
    label{
       visibility: hidden;
    }
    nav{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        .spisok{
            width: 100%;
            display: flex;
            justify-content: space-around;
            li{
                display: inline;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 3vh;
                    font-family: Rubik;
                }
                
                &:hover {
                    filter: opacity(0.5);
                    transform: scale(1.2);
                    transition: all 0.4s;
                }
                &{
                    transition: all 0.4s;
                }
            } 
        }
    }
}
.main_info{
    width: 100%;
    height: min(200vw,100vh);
    background: url("../../main/data/img/1969-dodge-charger-rt-440-01-1.jpg") no-repeat fixed top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .text{
        margin: 2vh;

        .big_text{
            color: white;
            font-family: Rubik;
            font-weight: bold;
            font-size: min(10vw,7vh);
            span{
                color: #FFA800;
            }
        }
        .small_text{
            color: grey;
            font-family: Rubik;
            font-size: min(5vw,3vh);
        }
    }
    .button{
        margin: 1vh;
        a{
            width: min(94vw,50vh);
            height: 10vh;
            border: 0.5vh solid white;
            border-radius: 10px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 3vh;
            font-weight: bold;
            font-family: Rubik;
            transition: all 0.4s;
        }
        a:hover{
            color: grey;
            background: rgba(107, 107, 107, 0.2);
            transition: all 0.4s;
        }
    } 
}
.add_info{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .item{
        width: 30vh;
        margin: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 25vh;
        } 
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .fst{
            width: 25vh;
            font-size: 3vh;
            font-weight: bold;
            font-family: Rubik;
        }
        .scnd{
            width: 25vh;
            font-size: 2.5vh;
            font-family: Rubik;
        }
    }
}
footer{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .links{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        a{
            img{
                display: flex;
                justify-content: left;
                height: min(12vw,8vh);
            }
            &:hover {
                filter: opacity(0.5);
                transition: all 0.4s;
            }
            &{
                transition: all 0.4s;
            }
        }
        .mail{
            display: flex;
            justify-content: flex-start;
            text-decoration: none;
            color: white;
            font-size: min(7vw,3.5vh);
            font-weight: bold;
            font-family: Rubik;
        }
        
    }
}