*{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
@media (max-width: 850px) {
    header#sa{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        box-sizing: border-box;
    }
    nav{
        margin: auto;
        flex-basis: 100%;
        visibility: hidden;
        .spisok{
            li{
                display: none;
                a {
                    display: none;
                }
            }
        }
    }
    label#for_burger{
        visibility: visible;
        color: white;
        font-size: min(15vw,9vh);
        cursor: pointer;
    }
    #burger:checked ~ nav .spisok {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        padding-left: 0;
        li {
            display: flex;
            justify-content: center;
            a{
                background: black;
                border: solid white 0.5vh;
                border-radius: 10px;
                padding: 1vh;
                margin: 1vh;
                width: 100%;
                visibility: visible;
                display: inline;
                text-decoration: none;
                color: white;
                font-size: 3vh;
                font-family: Rubik;
            &:hover {
                filter: opacity(0.5);
                
                transition: all 0.4s;
            }
            &{
                transition: all 0.4s;
            }
        }
    }
}
}
header{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    .logo{
        width: 15%;
        display: flex;
        justify-content: start;
        align-items: center;
        img{
            height: min(15vw,9vh);
            margin: 5px;
        }
    }
    input{
        display: none;
    }
    label{
       visibility: hidden;
    }
    nav{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        .spisok{
            width: 100%;
            display: flex;
            justify-content: space-around;
            li{
                display: inline;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 3vh;
                    font-family: Rubik;
                }
                
                &:hover {
                    filter: opacity(0.5);
                    
                    transition: all 0.4s;
                }
                &{
                    transition: all 0.4s;
                }
            } 
        }
    }
}
.about_us{
    width: 100%;
    background: url("../../about_us/data/img/background.png") fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .text{
        width: 100%;
        margin-top: 2vh;
        margin-left: 2vh;
        display: flex;
        justify-content: start;
        p{
            color: black;
            font-family: Rubik;
            font-weight: bold;
            font-size: 7vh;
        }
    }
    .info{
        margin: 1vw;
        padding: 1vw;
        width: 90%;
        border: solid black 1vh;
        border-radius: 40px;
        background: white;
        p{
            text-indent: 2vw;
            color: black;
            font-family: Rubik;
            font-weight: bold;
            font-size: 3vh; 
            span{
                font-weight: bolder;
            }
        }
    }
    
}
footer{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .links{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        a{
            img{
                display: flex;
                justify-content: left;
                height: min(12vw,8vh);
            }
            &:hover {
                filter: opacity(0.5);
                transition: all 0.4s;
            }
            &{
                transition: all 0.4s;
            }
        }
        .mail{
            display: flex;
            justify-content: flex-start;
            text-decoration: none;
            color: white;
            font-size: min(7vw,3.5vh);
            font-weight: bold;
            font-family: Rubik;
        }
        
    }
}