* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 850px) {
  header#sa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  nav {
    margin: auto;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    visibility: hidden;
  }
  nav .spisok li {
    display: none;
  }
  nav .spisok li a {
    display: none;
  }
  label#for_burger {
    visibility: visible;
    color: white;
    font-size: min(15vw, 9vh);
    cursor: pointer;
  }
  #burger:checked ~ nav .spisok {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    padding-left: 0;
  }
  #burger:checked ~ nav .spisok li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #burger:checked ~ nav .spisok li a {
    background: black;
    border: solid white 0.5vh;
    border-radius: 10px;
    padding: 1vh;
    margin: 1vh;
    width: 100%;
    visibility: visible;
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 3vh;
  }
  #burger:checked ~ nav .spisok li a:hover {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  #burger:checked ~ nav .spisok li a {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}
header {
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .logo {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo img {
  height: min(15vw, 9vh);
  margin: 5px;
}
header input {
  display: none;
}
header label {
  visibility: hidden;
}
header nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header nav .spisok {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav .spisok li {
  display: inline;
}
header nav .spisok li a {
  text-decoration: none;
  color: white;
  font-size: 3vh;
}
header nav .spisok li:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header nav .spisok li {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about_us {
  width: 100%;
  background: url("../../about_us/data/img/background.png") fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about_us .text {
  width: 100%;
  margin-top: 2vh;
  margin-left: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.about_us .text p {
  color: black;
  font-weight: bold;
  font-size: 7vh;
}
.about_us .info {
  margin: 1vw;
  padding: 1vw;
  width: 90%;
  border: solid black 1vh;
  border-radius: 40px;
  background: white;
}
.about_us .info p {
  text-indent: 2vw;
  color: black;
  font-weight: bold;
  font-size: 3vh;
}
.about_us .info p span {
  font-weight: bolder;
}

footer {
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .links a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: min(12vw, 8vh);
}
footer .links a:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
footer .links a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
footer .links .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: white;
  font-size: min(7vw, 3.5vh);
  font-weight: bold;
}